extends ../components/base/layout

block variables
  - var lang = 'en'
  - var title = 'Portfolio'

block content
  main
    .wrapper
      include ../components/blocks/intro
      include ../components/blocks/about
      include ../components/blocks/skills
      include ../components/blocks/works
      include ../components/blocks/contacts

