section.about
  .container
      h2.about__title#about
        span.title About me
      .about__content-wrapper
        img.about__photo(src="@img/content/about/my-photo.jpg", width="300", height="350", alt="My photo.")
        .about__info-wrapper
          p.about__info Hello there!
          p.about__info.
            My name is Roman and I'm from Russia from not sunny Saint-Petersburg.
            I'm a railway engineer by education and managed to work on the construction of the subway and the design of bridges...but later I discovered world of IT.
          p.about__info My first acquaintance with IT began with Python and MySQL. After this I wanted to sample front-end stack and I really liked it!
          p.about__info.
            I'm very glad that fate brought me together with Front-end Development because it is very cool and I
            #[img(src="@img/content/about/heart.gif" width="35" height="35" alt="Animated pixel heart.")]
            it &mdash; it's not just a job but also a hobby.

