section.about
  .container
      h2.about__title#about
        span.title About me
      .about__content-wrapper
        img.about__photo(src="@img/content/about/my-photo.jpg", width="300", height="350", alt="My photo.")
        .about__info-wrapper
          p.about__info.about__greeting.text Hello there!
          p.about__info.text.
            My&nbsp;name is&nbsp;Roman and I&rsquo;m from Russia from not sunny Saint-Petersburg.
            I&rsquo;m a&nbsp;railway engineer by&nbsp;education and managed to&nbsp;work on&nbsp;the construction of&nbsp;the subway
            and the design of&nbsp;bridges...but later&nbsp;I discovered world of&nbsp;IT.
          p.about__info.text My&nbsp;first acquaintance with&nbsp;IT began with Python and MySQL. After this&nbsp;I wanted to&nbsp;sample frontend stack and&nbsp;I really liked&nbsp;it!
          p.about__info.text.
            I&rsquo;m very glad that fate brought me&nbsp;together with Frontend Development because it&rsquo;s very cool and&nbsp;I
            #[img(src="@img/content/about/heart.gif" width="35" height="35" alt="Animated pixel heart.")]
            it&nbsp;&mdash; it&rsquo;s not just a&nbsp;job but also a&nbsp;hobby.

