section.contacts
  .container
      h2.contacts__title#contacts
        span.title Contacts
      ul.contacts__list
        li.contacts__item
          a.contacts__link(href="tg://resolve?domain=cendres_chaudes", target="_blank")
            +sprite("telegram-icon", 75, 75, "#40b3e0")
            span.contacts__link-text.text Telegram
        li.contacts__item
          a.contacts__link(href="https://api.whatsapp.com/send/?phone=79602624792", target="_blank")
            +sprite("whatsapp-icon", 75, 75, "#20b038")
            span.contacts__link-text.text WhatsApp
        li.contacts__item
          a.contacts__link(href="https://discordapp.com/users/1011591921069727804/", target="_blank")
            +sprite("discord-icon", 75, 75, "#5865f2")
            span.contacts__link-text.text Discord
        li.contacts__item
          a.contacts__link(href="https://github.com/CendresChaudes", target="_blank")
            +sprite("github-icon", 75, 75, "#ffffff")
            span.contacts__link-text.text GitHub
        li.contacts__item
          a.contacts__link(href="https://www.linkedin.com/in/роман-пронин-860467273/", target="_blank")
            +sprite("linkedin-icon", 75, 75, "#0a66c2")
            span.contacts__link-text.text LinkedIn
        li.contacts__item
          a.contacts__link.contacts__link--gmail(href="mailto:romqaaa1337@gmail.com", target="_blank")
            +sprite("gmail-icon", 75, 75)
            span.contacts__link-text.text Gmail
