section.hero
  .hero__container
    .hero__wrapper
      h1.hero__title Welcome to my portfolio page
      p.hero__description.
        My name is Roman and I'm a
        #[span.hero__description-highlighting Front-end Developer]
      p.hero__location Russia, Saint-Petersburg
      a.hero__show-more.button(href="#about") Show more
      img.hero__background(src="@img/content/hero/space.jpg" aria-hidden="true")
