section.intro.offset
  .intro__container
    .intro__wrapper
      h1.intro__title#intro Welcome to my portfolio page
      p.intro__description.
        My name is Roman and I'm a
        #[span.intro__description-highlighting Front-end Developer]
      p.intro__location Russia, Saint-Petersburg
      a.intro__show-more.button(href="#about") Show more
      img.intro__background(src="@img/decorative/intro/space.jpg" aria-hidden="true")
