section.intro.offset
  .intro__wrapper
    h1.intro__title#intro Welcome to&nbsp;my&nbsp;portfolio page!
    p.intro__description.
      My&nbsp;name is&nbsp;Roman and I&rsquo;m a
      #[span.intro__description-highlighting Frontend&nbsp;Developer]
    p.intro__location.text Russia, Saint-Petersburg
    a.intro__show-more.button(href="#about") Show more
