section.skills
  .container
      h2.skills__title#skills
        span.title Skills
      ul.skills__list
        li.skills__item.skills__item--html5.text HTML5
        li.skills__item.skills__item--pug.text Pug
        li.skills__item.skills__item--css3.text CSS3
        li.skills__item.skills__item--sass.text SCSS
        li.skills__item.skills__item--bem.text BEM
        li.skills__item.skills__item--js.text JavaScript
        li.skills__item.skills__item--ts.text TypeScript
        li.skills__item.skills__item--react.text React
        li.skills__item.skills__item--redux.text Redux (RTK)
        li.skills__item.skills__item--fsd.text FSD
        li.skills__item.skills__item--jest.in-process.text Jest
        li.skills__item.skills__item--gulp.text Gulp
        li.skills__item.skills__item--webpack.text Webpack
