section.skills
  .container
      h2.skills__title#skills
        span.title Skills
      ul.skills__list
        li.skills__list-item.skills__list-item--html5 HTML5
        li.skills__list-item.skills__list-item--pug Pug
        li.skills__list-item.skills__list-item--css3 CSS3
        li.skills__list-item.skills__list-item--sass SASS
        li.skills__list-item.skills__list-item--bem BEM
        li.skills__list-item.skills__list-item--js JavaScript
        li.skills__list-item.skills__list-item--ts.in-process TypeScript
        li.skills__list-item.skills__list-item--react.in-process React
        li.skills__list-item.skills__list-item--redux.in-process Redux
        li.skills__list-item.skills__list-item--jest.in-process Jest
        li.skills__list-item.skills__list-item--gulp Gulp
        li.skills__list-item.skills__list-item--webpack.in-process Webpack
        li.skills__list-item.skills__list-item--vsc VSC
        li.skills__list-item.skills__list-item--figma Figma
        li.skills__list-item.skills__list-item--git Git
