section.skills
  .container
      h2.skills__title#skills
        span.title Skills
      ul.skills__list
        li.skills__item.skills__item--html5.text HTML5
        li.skills__item.skills__item--pug.text Pug
        li.skills__item.skills__item--css3.text CSS3
        li.skills__item.skills__item--sass.text SASS
        li.skills__item.skills__item--bem.text BEM
        li.skills__item.skills__item--js.text JavaScript
        li.skills__item.skills__item--ts.in-process.text TypeScript
        li.skills__item.skills__item--react.in-process.text React
        li.skills__item.skills__item--redux.in-process.text Redux
        li.skills__item.skills__item--jest.in-process.text Jest
        li.skills__item.skills__item--gulp.text Gulp
        li.skills__item.skills__item--webpack.text Webpack
        li.skills__item.skills__item--vsc.text VSC
        li.skills__item.skills__item--figma.text Figma
        li.skills__item.skills__item--git.text Git
