@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lobster";

  font-display: swap;
  src: url("@fonts/lobster-regular.woff2") format("woff2"), url("@fonts/lobster-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "SF Pro Text";

  font-display: swap;
  src: url("@fonts/sf-pro-text-regular.woff2") format("woff2"), url("@fonts/sf-pro-text-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "SF Pro Text";

  font-display: swap;
  src: url("@fonts/sf-pro-text-semibold.woff2") format("woff2"), url("@fonts/sf-pro-text-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "SF Pro Display";

  font-display: swap;
  src: url("@fonts/sf-pro-display-semibold.woff2") format("woff2"), url("@fonts/sf-pro-display-semibold.woff") format("woff");
}
