*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 1.5;
  font-family: $ff-sf-pro-text;
  color: $color-default-white;
  letter-spacing: normal;
}

body {
  background-color: $color-default-black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: $color-default-white;
  text-decoration: none;
}

img {
  max-width: 100%;

  object-fit: cover;
}

textarea {
  resize: none;
}
