// Colors
//----------------------------------------------------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project-palette
// Для нейминга используется https://www.htmlcsscolor.com/hex/63D1BB

$color-dark-orange: #fe8f07;
$color-free-speech-magenta: #e640ef;

// Typography
//----------------------------------------------------------------------------

// Sizes

$fz-default: 16px;
$scrollbar-size: 7px;

// Fonts

$ff-sf-pro-text: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$ff-sf-pro-display: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$ff-lobster: "Lobster", cursive;

// Viewports
//----------------------------------------------------------------------------

$vp-1600: 1600px;
$vp-1200: 1200px;
$vp-1100: 1100px;
$vp-980: 980px;
$vp-880: 880px;
$vp-767: 767px;
$vp-600: 600px;
$vp-500: 500px;
$vp-450: 450px;
$vp-380: 380px;

// Other
//----------------------------------------------------------------------------

$header-desktop-offset: 14vh;
$header-tablet-offset: 12vh;
$header-mobile-offset: 10vh;
