header.header
  .container
    .header__wrapper
      a.header__logo(href="/")
        img.header__logo-img(src="@img/content/header/logo-light.png" width="90" height="60")
      nav.header__nav
        ul.header__nav-list
          li.header__nav-item
            a.header__nav-link.header__nav-link--current(id="intro-link", title="Current position") Intro
          li.header__nav-item
            a.header__nav-link(href="#about", id="about-link") About me
          li.header__nav-item
            a.header__nav-link(href="#skills", id="skills-link") Skills
          li.header__nav-item
            a.header__nav-link(href="#works", id="works-link") Works
          li.header__nav-item
            a.header__nav-link(href="#contacts", id="contacts-link") Contacts
