.header {
  position: fixed;
  top: 0;
  z-index: 100;

  width: 100%;
  height: 14vh;
  padding: 15px 50px;

  background-color: $color-default-black;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;

    gap: 25px;
  }

  &__nav-link {
    padding-bottom: 5px;

    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.01rem;

    background: linear-gradient(to right, $color-dark-orange, $color-free-speech-magenta 50%, $color-default-white 50%);
    background-position: 100%;
    background-size: 200% 100%;
    -webkit-background-clip: text;
            background-clip: text;

    transition: background-position 450ms ease-in-out;

    -webkit-text-fill-color: transparent;
  }

  &__nav-link--active {
    border-bottom: 3px solid $color-default-white;
  }

  &__nav-link[href]:hover {
    background-position: 0 100%;
  }

  &__nav-link[href]:active {
    opacity: 0.75;
  }

  &__logo img {
    transition: scale 450ms ease-in-out;
  }

  &__logo:hover img {
    scale: 1.15;
  }

  &__logo:active img {
    opacity: 0.75;
  }
}
