.intro {
  position: relative;

  display: flex;
  height: calc(100vh - $header-desktop-offset);
  overflow: hidden;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    background-image: url("@img/decorative/intro/space.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 50vh;

    @media (max-width: $vp-1600) {
      background-position: center bottom 25px;
      background-size: auto 45vh;
    }

    @media (max-width: $vp-1200) {
      background-position: center bottom 50px;
      background-size: auto 39vh;
    }

    @media (max-width: $vp-980) {
      background-image: url("@img/decorative/intro/stars.jpg");
      background-position: center;
      background-size: cover;
    }
  }

  &__title {
    margin: 14vh 0 0 0;
    padding: 0 50px 0 50px;

    font-weight: 600;
    font-size: 3rem;
    font-family: $ff-sf-pro-display;

    @media (max-width: $vp-1600) {
      margin: 11vh 0 0 0;
    }

    @media (max-width: $vp-1200) {
      margin: 10vh 0 0 0;

      font-size: 2.6rem;
    }

    @media (max-width: $vp-980) {
      margin: 25vh 0 0 0;
      padding: 0 40px 0 40px;

      font-size: 2.4rem;
    }

    @media (max-width: $vp-767) {
      padding: 0 30px 0 30px;

      font-size: 2.2rem;
    }

    @media (max-width: $vp-600) {
      font-size: 2.0rem;
    }

    @media (max-width: $vp-500) {
      padding: 0 10px 0 10px;

      font-size: 1.8rem;
    }

    @media (max-width: $vp-450) {
      font-size: 1.6rem;
    }
  }

  &__description {
    margin-bottom: 10px;
    padding: 0 50px 0 50px;

    font-weight: 600;
    font-size: 3rem;
    font-family: $ff-sf-pro-display;
    text-align: center;

    @media (max-width: $vp-1200) {
      font-size: 2.6rem;
    }

    @media (max-width: $vp-980) {
      padding: 0 40px 0 40px;

      font-size: 2.4rem;
    }

    @media (max-width: $vp-767) {
      padding: 0 30px 0 30px;

      font-size: 2.2rem;
    }

    @media (max-width: $vp-600) {
      font-size: 2.0rem;
    }

    @media (max-width: $vp-500) {
      padding: 0 10px 0 10px;

      font-size: 1.8rem;
    }

    @media (max-width: $vp-450) {
      font-size: 1.6rem;
    }
  }

  &__description-highlighting {
    font-family: $ff-lobster;
    color: $color-dark-orange;
    letter-spacing: 2px;
  }

  &__location {
    position: relative;

    @media (max-width: $vp-980) {
      font-size: 1.05rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -32px;

      width: 30px;
      height: 30px;

      background-image: url("@img/decorative/intro/pin.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 20px;
    }
  }

  &__show-more {
    margin: auto 0 50px 0;

    @media (max-width: $vp-980) {
      margin: auto 0 100px 0;

      font-size: 1.4rem;
    }

    @media (max-width: $vp-767) {
      margin: auto 0 100px 0;

      font-size: 1.3rem;
    }
  }
}
