.intro {
  position: relative;

  display: flex;
  height: calc(100vh - 14vh);
  padding: 15px 50px 25px;
  overflow: hidden;

  &__container {
    display: flex;
    flex-grow: 1;
    max-width: 1050px;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url("@img/decorative/intro/space.png");
    background-repeat: no-repeat;
    background-position: center 57%;
    background-size: 125%;
  }

  &__title {
    font-weight: 600;
    font-size: 3rem;
    font-family: $ff-sf-pro-display;
  }

  &__description {
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 3rem;
    font-family: $ff-sf-pro-display;
    text-align: center;
  }

  &__description-highlighting {
    font-family: "Lobster", cursive;
    color: $color-dark-orange;
    letter-spacing: 2px;
  }

  &__location {
    position: relative;

    font-size: 1.1em;
  }

  &__location::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -32px;

    width: 30px;
    height: 30px;

    background-image: url("@img/decorative/intro/pin.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
  }

  &__show-more {
    margin-top: auto;
  }

  &__background {
    position: absolute;
    top: -155px;
    z-index: -1;

    width: 90%;

    filter: brightness(115%);
  }
}
