.skills {
  padding: 0 50px;

  &__title {
    margin: 0 0 30px 0;

    text-align: center;

    @media (max-width: $vp-767) {
      margin: 0 0 25px 0;
    }
  }

  &__list {
    display: grid;
    align-items: center;

    column-gap: 50px;

    grid-template-columns: repeat(5, 1fr);
    row-gap: 35px;

    @media (max-width: $vp-980) {
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
  }

  &__item {
    padding: 75px 0 15px 0;

    text-align: center;

    background-repeat: no-repeat;
    background-position: center top;
    background-size: 65px 65px;

    @media (max-width: $vp-980) {
      background-size: 60px 60px;
    }

    @media (max-width: $vp-767) {
      background-size: 50px 50px;
    }

    &.in-process {
      opacity: 0.4;
    }

    &--html5 {
      background-image: url("@img/decorative/skills/html5-icon.svg");
    }

    &--pug {
      background-image: url("@img/decorative/skills/pug-icon.svg");
    }

    &--css3 {
      background-image: url("@img/decorative/skills/css3-icon.svg");
    }

    &--sass {
      background-image: url("@img/decorative/skills/sass-icon.svg");
    }

    &--bem {
      background-image: url("@img/decorative/skills/bem-icon.svg");
    }

    &--js {
      background-image: url("@img/decorative/skills/js-icon.svg");
    }

    &--ts {
      background-image: url("@img/decorative/skills/ts-icon.svg");
    }

    &--react {
      background-image: url("@img/decorative/skills/react-icon.svg");
    }

    &--fsd {
      background-image: url("@img/decorative/skills/fsd-icon.png");
      background-size: 110px 50px;
      background-position: center top 10px;

      @media (max-width: $vp-980) {
        background-size: 105px 45px;
        background-position: center top 5px;
      }

      @media (max-width: $vp-767) {
        background-size: 95px 40px;
      }
    }

    &--redux {
      background-image: url("@img/decorative/skills/redux-icon.svg");
    }

    &--jest {
      background-image: url("@img/decorative/skills/jest-icon.svg");
    }

    &--gulp {
      background-image: url("@img/decorative/skills/gulp-icon.svg");
    }

    &--webpack {
      background-image: url("@img/decorative/skills/webpack-icon.svg");
    }
  }
}
