.slider {
  &__wrapper {
    position: relative;

    margin: 0 0 30px 0;
  }

  &__item {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;

    width: 65%;
    overflow: hidden;

    transform: translateX(-50%) translateY(-50%);
    opacity: 0;

    transition: all 300ms ease-in-out;
    -webkit-transition-duration: 300ms;
    -webkit-transition-property: all;

    @media (max-width: $vp-980) {
      width: 85%;
    }

    @media (max-width: $vp-767) {
      width: 110%;
    }

    &--current {
      z-index: 1;

      opacity: 1;

      scale: 1;
    }

    &--prev {
      z-index: 0;

      transform: translateX(-90%) translateY(-56%);
      opacity: 0.25;

      scale: 0.9;

      @media (max-width: $vp-980) {
        transform: translateX(-50%) translateY(-50%);
      }
    }

    &--next {
      z-index: 0;

      transform: translateX(-20%) translateY(-56%);
      opacity: 0.25;

      scale: 0.9;

      @media (max-width: $vp-980) {
        transform: translateX(-50%) translateY(-50%);
      }
    }

    & img {
      width: auto;
      height: auto;
    }
  }

  &__buttons-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    width: 82%;

    transform: translateX(-50%) translateY(-50%);

    @media (max-width: $vp-1100) {
      width: 83%;
    }

    @media (max-width: $vp-980) {
      width: 104%;
    }

    @media (max-width: $vp-880) {
      width: 106%;
    }

    @media (max-width: $vp-767) {
      display: none;
    }
  }

  &__button {
    position: relative;

    width: 60px;
    height: 60px;

    background-color: $color-default-white;
    background-position: center;
    background-size: 82px 82px;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    @media (max-width: $vp-980) {
      width: 60px;
      height: 60px;

      background-size: 70px 70px;
    }

    &--prev {
      background-image: url("@img/decorative/works/slider-button.svg");
    }

    &--next {
      background-image: url("@img/decorative/works/slider-button.svg");
      transform: rotate(180deg);
    }

    @media (hover: hover) {
      &:hover {
        opacity: 0.85;
      }
    }

    &:active {
      opacity: 0.6;
    }

    &:focus-visible {
      outline: none;
      opacity: 0.6;
    }
  }

  &__pagination {
    display: none;

    @media (max-width: $vp-767) {
      display: flex;
      justify-content: center;
      margin: 0 0 30px 0;

      gap: 50px;
    }
  }

  &__pagination-item {
    @media (max-width: $vp-767) {
      display: flex;
      align-items: center;

      transform: translateZ(0)

      & button {
        width: 12px;
        height: 12px;

        background-color: $color-default-white;
        border: none;
        border-radius: 50%;
      }

      &--current button {
        background-color: $color-dark-orange;
      }
    }
  }

  &__project-name {
    margin: 0 0 15px 0;

    text-align: center;
  }

  &__links-wrapper {
    display: flex;
    justify-content: center;

    gap: 30px;
  }
}
